# Simulation outputs
*.out
*.vcd
*.vvp
*.fst
*.log

# Build/simulation directories
sim/

# Editor files
.vscode/
*.swp
*~
# Questa/ModelSim simulation files
**/work/
**/sim/*.vcd
**/transcript
**/vsim.wlf
**/wlft*
**/vsim_stacktrace.vstf
**/qwave.db
**/modelsim.ini
